@{
    ViewBag.Title = "Sobre Nós";
}
<br />
<h2>@ViewBag.Title</h2>
<p><img src="~/images/Car4ULogo.png" width="300" height="150" align="right" /></p>
<p>A Car4U é uma nova companhia no mercado de rent-a-car que pretende revolucionar o mercado Português.</p>
<p>Procura atingir novas metas nesta área, proporcionando o melhor serviço e os melhores produtos aos seus clientes.</p><br />
<p><strong>Quando precisar de uma rent-a-car, a Car4U é a escolha perfeita para si</strong></p>
<p>A Car4U é uma companhia inovadora que procura ter sucesso no aluguer de automóveis.</p><br />
<p><strong> O futuro do aluguer automóvel em Portugal</strong></p>
<p>A Car4U entrou no mercado Português em 2015. Neste momento, a sua área de acção inclui os aeroportos de Lisboa e Porto, e a Estação de Comboios de Aveiro.</p>
<p>A sua actividade baseia-se em 3 pilares fundamentais: o excelente serviço ao cliente, os preços competitivos e uma variada gama de veículos (modelos europeus).</p>