
@{
    ViewBag.Title = "BackOffice";
}

<h2>BackOffice</h2>

<div class="container jumbotron">
    <div class="text-center">
        <div class="col-md-6 col-lg-6">

            <a id="Brands" href="~/Brands/Index" class="btn btn-primary login">Brands</a>
            <a id="Cars" href="~/Cars/Index" class="btn btn-primary login">Cars</a>
            <a id="CarModels" href="~/CarModels/Index" class="btn btn-primary login">CarModels</a>
            <a id="CarStatus" href="~/CarStatus/Index" class="btn btn-primary login">CarStatus</a>
            <a id="Categories" href="~/Categories/Index" class="btn btn-primary login">Categories</a>
            <a id="Countries" href="~/Countries/Index" class="btn btn-primary login">Countries</a>
            <a id="ExtraModels" href="~/ExtraModels/Index" class="btn btn-primary login">ExtraModels</a>
            <a id="ExtraModelTypes" href="~/ExtraModelTypes/Index" class="btn btn-primary login">ExtraModelTypes</a>
            <a id="FuelTypes" href="~/FuelTypes/Index" class="btn btn-primary login">FuelTypes</a>
            <a id="MeetingPoints" href="~/MeetingPoints/Index" class="btn btn-primary login">MeetingPoints</a>
            <a id="MomentDeliveries" href="~/MomentDeliveries/Index" class="btn btn-primary login">MomentDeliveries</a>

            <a id="MomentReturns" href="~/MomentReturns/Index" class="btn btn-primary login">MomentReturns</a>
            <a id="Promotions" href="~/Promotions/Index" class="btn btn-primary login">Promotions</a>
            <a id="Reservations" href="~/Reservations/Index" class="btn btn-primary login">Reservations</a>
            <a id="Role" href="~/Role/Index" class="btn btn-primary login">Role</a>
            <a id="Status" href="~/Status/Index" class="btn btn-primary login">Status</a>
        </div>
    </div>
</div>