@{
    ViewBag.Title = "Contacte-nos";
}
<h2>@ViewBag.Title</h2>
<h3>Pode encontrar toda a informação de que necessita no nosso website.</h3>
<strong>Central de reservas</strong>
<address>
    <strong>Telefone:</strong> <p>+351 234 923 689</p>
    <strong>Email:</strong> <a href="mailto:Reservas@Car4U.com">reservas@car4u.com</a>
</address>
<strong>Horário de Funcionamento</strong>
<p>Segunda-feira a Sexta-feira</p>
<p>08:30-19:30</p>
<p>Sábado</p>
<p>09:00-18:00</p>
<strong>Contactos</strong>
<address>
    <strong>Email:</strong>   <a href="mailto:suporte.cliente@Car4U.com">suporte.cliente@car4u.com</a><br />
</address>
<p class="footerPos1"></p>
