
@{
    ViewBag.Title = "Erro";
}

<h2>Erro</h2>

<meta http-equiv="refresh" content="10;url=http://localhost:21423" />

<h2 class="text-center">
    Oops! Ocorreu um erro! E agora, qual foi?!
    Irá ser redirecionado para a a página inicial.
</h2>

<div class="col-md-12">
    <article class="principle five ">
        <div class="shape-container">
            <img src="~/images/Car4Ucar.fw.png" class="img-responsiveb shape" />
        </div>
    </article>
    <div class="car4U-text">
        <img src="~/images/Car4Utext.fw.png" class="img-responsiveb" />
    </div>
</div>