.neon-text{
font: normal normal bold 15px/normal "Atomic Age", Helvetica, sans-serif;
color: black;
-o-text-overflow: clip;
text-overflow: clip;
}

.btnsave{
    margin-right:10px;

}

.detaildivsize{
   width:300px;   
}

#edit-details {
   padding-bottom:30px;
   padding-left:10px;
   padding-right:10px;
   padding-top:20px;
}