@{
    ViewBag.Title = "AfterDelete";
}
<div class="page-header">
    <h2>Eliminar Conta</h2>
</div>

<h3 class="row form-group">Conta eliminada com sucesso. </h3>

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
{
    <div style="text-align:center;">
        <div id="butaoOffice" class="button" style="float: none;">
        <a class="submit" href="javascript:document.getElementById('logoutForm').submit()">Continuar</a>      
            </div>
    </div>
}
