@{
    ViewBag.Title = "AfterDelete";
}


<h3 class="row form-group">Tem a certeza que quer eliminar a conta</h3>

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    <div style="float: left">
        <a href="javascript:document.getElementById('logoutForm').submit()">Sim</a>
        <a>|</a>
        <a href="~/Views/User/Details">Não</a>
    </div>
}

