@{
    ViewBag.Title = "AfterDelete";
}

<h1>
   Log Off to conclude the account deletion @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
    }
</h1>
