
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirmado com sucesso</h2>

<meta http-equiv="refresh" content="7;url=http://localhost:21423" />

<h2>Obrigado por nos escolher, um mail foi enviado para o seu endereço com as referencias necessarias para terminar o processo. A reencaminhar em 7 segundos...</h2>
