@{
    ViewBag.Title = "Confirm";
}
<div class="page-header">
    <h2>Confirmado com sucesso</h2>
</div>
<meta http-equiv="refresh" content="40;url=http://localhost:21423" />
<div class=" container">
    <div class="form-horizontal">
        <div class="form-group">
            <div class=" row">
                <div class=" col-md-12">
                    <div class=" col-md-6" style="margin-top:200px">
                        <h3> Obrigado pela sua preferência!</h3>
                        <h5>Todas as informações necessárias foram enviadas para o seu e-mail.</h5>
                        <h5>Dentro de segundos será reencaminhado, obrigado.</h5>
                    </div>
                        <div class=" col-md-6">
                            <article class="principle five ">
                                <div class="shape-container">
                                    <img src="~/images/Car4Ucar.fw.png" class="img-responsiveb shape" />
                                </div>
                            </article>
                            <div class="car4U-text">
                                <img src="~/images/Car4Utext.fw.png" class="img-responsiveb" />
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>