
@{
    ViewBag.Title = "Confirm";
}

<h2>Confirmado com sucesso</h2>

<meta http-equiv="refresh" content="10;url=http://localhost:21423" />

<h2>
    Obrigado por escolher o Car4U, um mail foi enviado para o seu endereço com as referências necessárias para terminar o processo.
    A reencaminhar em 10 segundos...
</h2>

<div class="col-md-12">
    <article class="principle five ">
        <div class="shape-container">
            <img src="~/images/Car4Ucar.fw.png" class="img-responsiveb shape" />
        </div>
    </article>
    <div class="car4U-text">
        <img src="~/images/Car4Utext.fw.png" class="img-responsiveb" />
    </div>
</div>
