@model Car4U.Models.Brand
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Delete";
}
<div class="page-header">
    <h2>Eliminar Marca</h2>
</div>
<div>

    <h4>Tem a certeza que quer eliminar marca?</h4>

    <dl class="form-group">
        <dt>
            @Html.LabelFor(model => model.Description, "Nome", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class=" buttonbackoffice">
            <input type="submit" value="Apagar Marca" class="submit" />
            <button class="submit" type="button" onclick="location.href='@Url.Action("Index", "Brands")'">Voltar</button>
        </div>
    }
</div>
