@model Car4U.Models.Brand
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Delete";
}


<div class="page-header">
    <h2>Eliminar Marca</h2>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <div class=" col-md-10">
            <div>
                <h3>Tem a certeza que pretende apagar esta Marca?</h3>
                <h4>
                    Marca: @Html.DisplayFor(model => model.Description)
                </h4>
            </div>
            <div class="buttonbackoffice">

                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()

                    <div class="form-actions">
                        <button class="submit  icon-Delete" type="submit" value="Delete"> Apagar </button>
                    </div>
                }
                <button class="submit  icon-back" type="button" onclick="location.href='@Url.Action("IndexModel", "Brands")'"> Voltar </button>
            </div>

        </div>
    </div>
</div>
