@model Car4U.Models.Brand
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Details";
}
<div class="page-header">
<h2>Marca</h2>
    </div>

<div>
    <h4>Editar Marca</h4>
    
    <dl class="form-group">
        <dt>
            @Html.LabelFor(model => model.Description, "Nome", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    <div class="buttonbackoffice">
         <button class="submit" type="button" onclick="location.href='@Url.Action("Edit", "Brands", new { id = Model.ID })'">Editar</button>
        <button class="submit" type="button" onclick="location.href='@Url.Action("Index", "Brands")'">Voltar</button>
         </div>
</p>
