@model Car4U.Models.ExtraItem
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "Details";
}
<div class="page-header">
    <h2>Details</h2>
</div>
<div class="container">
<div>
    <h4>ExtraItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExtraModel.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraModel.Model)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
</div>