.neon-text{
font: normal normal bold 15px/normal "Atomic Age", Helvetica, sans-serif;
color: black;
-o-text-overflow: clip;
text-overflow: clip;
}

.btnsave{
    margin-right:10px;

}

.detaildivsize{
   width:300px;   
}

#edit-details {
   padding-bottom:30px;
   padding-left:10px;
   padding-right:10px;
   padding-top:20px;
}
/*.submit {    
    font-size:15px;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}*/

[class^="ico-"]:before {
  content: " ";
  width:10px; height:10px;
  display:inline-block;
  vertical-align:middle;
  font-family: icomoon;
}

.icon-search:before { content: '🔍'; } /*Search*/

.icon-edit:before { content: '\270e'; } /* Edit 270e */ 

.icon-back:before { content: '\2936'; } /* Voltar */

.icon-Add:before { content: '\2795'; } /* Adicionar */

.icon-Delete:before { content: '\2716'; } /* Eliminar */

.icon-Save:before { content: '\1f5ab'; } /* Guardar */

.icon-Details:before { content: '\1f50e'; } /* Detalhes */


