body {
}

.center-btn {
    text-align: center;
}

.titles {
    color: #000000;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

/*Log in with Facebook button*/

.btn-social.btn-lg {
text-align: center;
}
.btn-facebook {
color: #fff;
background-color: #3b5998;
border-color: rgba(0,0,0,0.2);
}
.btn-social {
position: relative;
padding-left: 44px;
text-align: left;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.btn-block {
display: block;
width: 100%;
}
.btn-lg, .btn-group-lg > .btn {
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
border-radius: 6px;
}
.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}


/*Log in with Facebook button*/

/*Striped table index brand*/
.stripedtable th {
    background-color:#f7b706;
    
    color:black;
    }


.stripedtable tbody, .stripedtable tr, .stripedtable td, .stripedtable th {
    
    font-family: Arial,sans-serif;
}

.stripedtable tbody tr:nth-child(odd) {
   background-color: rgba(255, 216, 0, 0.39);
}
/*Striped table index brand*/