

.btn-position-right {
    float: right;
}
/*------------------------------------------------------------------------*/

.muldura {
    float: left;
    padding: 8px 8px 20px 8px;

}
.muldura .moldura3 {  
    border-radius: 20px;
    border: 2px solid #ffd800;
    width: 490px;
}

.moldura2 {  
    border-radius: 8px;
    border: 2px solid #ffd800;
    width: 350px;
}

    .moldura2 .submoldura2 {
        font-family: Arial,sans-serif;
        font-weight: bold;
        color: #000000;
    }


.moldura1 {   
    border-radius: 8px;
    border: 2px solid #000000;
    width: 454px;
}
                /*Finish Muldura*/

                
.titles {
    color: #000000;
    font-family: Arial,sans-serif;
    font-weight: bold;
}

.positiontop {
    margin-top: 20px;
}

.positionright {
    margin-left: 100px;
}

.btn-position {
    float: right;
    margin-right: 165px;
}

.tabledetails .table-background-second{     
     color: black;
     border:1px solid #f7b706;
     border-top-right-radius:20px;
     border-bottom-right-radius:20px;
     
     font-family: Arial,sans-serif;   
}

.tableheader th {
    background-color:#f7b706;
    
    color:black;
    }


.tableheader tbody, .tableheader tr, .tableheader td, .tableheader th {
    border:2px solid white!important;
    font-family: Arial,sans-serif;
}

.tableheader tbody tr:nth-child(odd) {
   background-color: rgba(255, 216, 0, 0.39);
}

 .tableheader tr th:first-child {
    visibility  : hidden;
}
.tableheader tr td:last-child div {
     visibility  : hidden;
     width:130px;
}

.tableheader tr:hover td:last-child div {
    visibility: visible;
}