@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.reserveIndex {
    margin-top: 20px;
    position: relative;
    z-index: 50;
    float: left;
}

.car4U-text {
}

.principle {
    max-width: 500px;
    max-height: 250px;
}

.navbar-collapse {
    padding-top: 5px;
}

#index-junbotron {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 15px;
    max-height: 500px;
    border: solid;
    border-color: #e6e6e6;
}

/*Car logo*/

@media(max-width:1280px) {
    .five .shape-container {
        display: none;
    }

    .indexLogo {
        display: none;
    }

    .car4U-text {
        display: none;
    }

}

@media (max-width: 767px) {
  
    .input-size-xs {
        float: left;
    }

    .input-size-xxs {
        float: right;
    }
}

.five .shape {
    animation: five 4s infinite;
    position: absolute;
    left: auto;
    top: auto;
}

.five .shape-container {
    animation: five-container 4s infinite ease-in-out;
    position: center;
    left: calc(50% - 4em);
    top: calc(50% - 4em);
}

@keyframes five {
    0%, 15% {
        opacity: 0;
        transform: translateX(-12em);
    }

    15%, 25% {
        transform: translateX(-12em);
        opacity: 1;
    }

    85%, 90% {
        transform: translateX(12em);
        opacity: 1;
    }

    100% {
        transform: translateX(12em);
        opacity: 0;
    }
}

@keyframes five-container {
    0%, 35% {
        transform: none;
    }

    50%, 60% {
        transform: skewX(20deg);
    }

    90%, 100% {
        transform: none;
    }
}

/* General styling */

.principle {
    width: 100%;
    height: 100vh;
    position: center;
}

.shape {
    position: absolute;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
}
/*end Car Logo*/

/*Index moving img*/
.object {
    position: absolute;
}

.van {
    top: 45%;
    left: 44%;
}

#axis:hover .move-right {
    transform: translate(550px,0);
    -webkit-transform: translate(550px,0); /** Chrome & Safari **/
    -o-transform: translate(550px,0); /** Opera **/
    -moz-transform: translate(550px,0); /** Firefox **/
}

    #axis:hover .move-right :after {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
/**/
/*Button active 3d*/
button {
    border: 0;
    background: #f9bf1d;
    border-radius: 4px;
    box-shadow: 0 5px 0 none;
    color: black;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    float: right;
    margin-top: 15px;
}

    button:active {
        box-shadow: 0 2px 0 black;
        transform: translateY(3px);
    }

    button:hover {
        background-color: burlywood;
        color: #f9bf1d;
    }
/*end Button active 3d*/
.footer-button {
    /*border: 0;
    background: #f9bf1d;
    border-radius: 4px;
    box-shadow: 0 5px 0 none;
    color: black;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 20px 20px;
    transition: all .1s linear;
    float: right;
    margin-top: 15px;*/
}
/*Image effect Index*/
/*@media (max-width:1280px) {
.card-container {
        display: none;
    }*/
.card-container {
    cursor: pointer;
    height: 40px;
    perspective: 600px;
    position: center;
    width: 60px;
    float: right;
    margin-right: 40px;
}

.frontimgNav {
}

.card-container img {
    width: 80px;
    /*margin-right: 35px;*/
}


.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
    float: left;
    margin-right: 70px;
}

    .card:hover {
        transform: rotateY(180deg);
    }

    .card .side {
        backface-visibility: hidden;
        border-radius: 6px;
        height: 40px;
        position: absolute;
        overflow: hidden;
        width: 50px;
        margin-right: 70px;
    }

        .card .side img {
            height: 40px;
            width: 80px;
            margin-top: 5px;
            margin-right: 70px;
        }

    .card .back {
        background: none;
        color: none;
        /*line-height: 10px;*/
        text-align: center;
        transform: rotateY(180deg);
        margin-right: 70px;
        width: 80px;
    }

        .card .back img {
            width: 70px;
            height: 40px;
            margin-top: 2px;
        }
/*end Image effect Index*/

/*Background index slider*/
.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel {
    z-index: -99;
}
    /* keeps this behind all content */
    .carousel .item {
        position: fixed;
        width: 100%;
        height: 100%;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }

    .carousel .one {
        background: url(car3.jpg);
        background-size: cover;
    }

    .carousel .two {
        background: url(car2.jpg);
        background-size: cover;
    }

    .carousel .three {
        background: url(car1.png);
        background-size: cover;
    }

    .carousel .active.left {
        left: 0;
        opacity: 0;
        z-index: 2;
    }
/* end Background index slider*/

/* Junbotron index*/
.home-box {
    margin-top: 20px;
    float: left;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media(max-width: 1280px) {

    .home-box {
        display: block;
        clear: both;
        float: none;
        margin: 20px auto;
        width: 300px;
        height: 700px;
        padding-left: 10px;
        padding-right: 10px;
        height: 475px;
    }
}

@media(max-width:360px) {

    container {
        padding: 0;
    }

    col-sm-12 {
        padding: 0;
    }
}

/* end Junbotron index*/

.input-size-xs {
    width: 150px;
}

.input-size-xxs {
    width: 100px;
}
    /* Footer social icons */

    .footer-distributed .footer-icons {
        margin-top: 40px;
    }

        .footer-distributed .footer-icons a:hover {
            background-color: #3a5795;
        }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }

    /* Footer Right */

    .footer-distributed .footer-right {
        float: right;
    }

        .footer-distributed .footer-right p {
            display: inline-block;
            vertical-align: top;
            margin: 15px 20px 0 0;
            color: #ffffff;
        }

    /* The contact form */

    .footer-distributed form {
        display: inline-block;
    }

        .footer-distributed form input,
        .footer-distributed form textarea {
            display: block;
            border-radius: 3px;
            box-sizing: border-box;
            background-color: #1f2022;
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
            border: none;
            resize: none;
            font: inherit;
            font-size: 14px;
            font-weight: normal;
            color: #d1d2d2;
            width: 250px;
            padding: 15px;
        }

    .footer-distributed ::-webkit-input-placeholder {
        color: #5c666b;
    }

    .footer-distributed ::-moz-placeholder {
        color: #5c666b;
        opacity: 1;
    }

    .footer-distributed :-ms-input-placeholder {
        color: #5c666b;
    }


    .footer-distributed form input {
        height: 46px;
        margin-bottom: 15px;
    }

    .footer-distributed form textarea {
        height: 100px;
        margin-bottom: 5px;
    }

    .footer-distributed form button {
        border-radius: 3px;
        background: #f9bf1d;
        color: black;
        border: 0;
        padding: 7px 20px;
        font-weight: bold;
        float: right;
        text-align: center;
        height: 30px;
    }

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-company-name {
            font-size: 12px;
        }

        .footer-distributed form input,
        .footer-distributed form textarea {
            width: 250px;
        }

        .footer-distributed form button {
            padding: 10px 35px;
        }
}

@media (max-width: 800px) {

    .footer-distributed {
        padding: 30px;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-right {
            float: none;
            max-width: 300px;
            margin: 0 auto;
        }

        .footer-distributed .footer-left {
            margin-bottom: 40px;
        }

        .footer-distributed form {
            margin-top: 30px;
        }

        .footer-distributed form {
            display: block;
        }

            .footer-distributed form button {
                float: none;
            }
}

.col-md-5 {
    margin-left: 350px;
}

.chatname {
    text-align: center;
}

.fb-profile img.fb-image-lg {
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
}

@media (max-width:768px) {
    .fb-profile-text > h1 {
        font-weight: 700;
        font-size: 16px;
        margin-left: 100px;
    }

    .fb-image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
    }

    .titlee {
        margin-left: 50px;
    }
}

.about {
    padding-left: 40px;
}

@media (max-width:400px) {
    .home-box {
        margin-left: 5px;
    }
}

/*
@font-face {
    font-family: Arial;
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('eot'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: Arial;
        src: url('../fonts/OpenSans-Regular-webfont.svg') format('svg');
    }
}
*/


