@model Car4U.Models.Country
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Delete";
}


<div class="page-header">
    <h2>Apagar País?</h2>
</div>
<div class="container">
    <div class=" container">
        <div class=" form-horizontal">
            <div class="form-group">
                <div class=" col-md-10">
                    <h3>Tem a certeza que pretende eliminar esste País?</h3>
                    <table class=" table tableheader table-responsive" style="width:200px">                        
                        <tr>
                            <td>
                                <h4>País: @Html.DisplayFor(model => model.Name)</h4>
                            </td>
                        </tr>
                    </table>
                    <div class="buttonbackoffice">

                        @using (Html.BeginForm())
                        {

                            @Html.AntiForgeryToken()

                            <div class="form-actions">
                                <button class="submit  icon-Delete" type="submit" value="Delete"> Apagar </button>
                            </div>
                        }
                        <button class="submit  icon-back" type="button" onclick="location.href='@Url.Action("Index", "Countries")'"> Voltar </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>