@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @{
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        var displayNameClaim = claimsIdentity != null
            ? claimsIdentity.Claims.SingleOrDefault(x => x.Type == Car4U.Models.ApplicationUser.NameClaimType)
            : null;
        var nameToDisplay = displayNameClaim == null ? User.Identity.Name : displayNameClaim.Value;
        }
        <li>
            @Html.ActionLink("Bem-vindo " + nameToDisplay + "!", "Details", "User", routeValues: null, htmlAttributes: new { title = "Details" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar Sessão", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
